
.navigator {
    display: flex;
    font-size: 42px;
    justify-content: space-evenly;
    left: 0;
    position: absolute;
    text-shadow: 1px 2px 3px #2e2b56;
    top: 0;
    width: 100%;
}

.chicken_selector {
    width: 12px;
    height: 12px;
}

.cow_selector {
    width: 12px;
    height: 12px;
}

.navigator_choice {
    display: flex;
    height: 100px;
    padding: 0 20px;
    justify-content: center;
}

.navigator_title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    color: white;
}

.navigator_title:visited { text-decoration: none; color:white; }
.navigator_title:hover { text-decoration: none; color:white; }
.navigator_title:focus { text-decoration: none; color:white; }
.navigator_title:hover, .navigator_title:active { text-decoration: none; color:white; }

.absolute {
    position: absolute;
}
