.landing_page {
    align-items: center;
    background-color: #8d859a;
    color: black;
    display: flex;
    flex-direction: column;
    font-family: 'Vollkorn', serif;
    height: 100%;
    width: 100%;
}

.header {
    font-family: 'Zeyada', cursive;
    font-size: 80px;
}

.final_countdown {
    font-size: 20px;
}

.absolute {
    position: absolute;
}

.background_image {
    max-width: 100%;
}

.navigator_wrapper {
}

.font {
    background-color: #d1cfe7;
    border-radius: 8px;
    color: #54586f;
    font-family: Vollkorn;
    font-size: 50px;
    margin: 32px;
    max-width: 760px;
    padding: 32px;
}

