.invite {
    width: 700px;
    height: 80vh;
    background-color: burlywood;
    border: black solid 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Vollkorn', serif;
    font-size: 22px;
    background-image: url('./images/background-image.jpg');
}

.name {
    font-size: 30px;
    text-transform: uppercase;
}

.date {
    font-size: 40px;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.line-break {
    border: black solid 1px;
    width: 400px;
    margin: 20px;
}

.and {
    padding-right: 10px;
}
